<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<section>
    <table class='indexPg'>
        <tbody>
        <tr class='row1'>
            {{#seats}}
            <td class="seat" id="{{seatId}}">{{seatId}}</td>
            {{/seats}}
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>


<!--<td class="seat2">asdf</td>&ndash;&gt;-->
<!--<td class="empty"></td>-->
<!--<td class="seat3"></td>-->
<!--<td class="seat4"></td>-->
<!--<td class="seat5"></td>-->
<!--<td class="seat6"></td>-->
<!--<td class="seat7"></td>-->
<!--</tr>-->
<!--<tr class='row2'>-->
<!--<td class="seat1"></td>-->
<!--<td class="seat2"></td>-->
<!--<td class="empty"></td>-->
<!--<td class="seat3"></td>-->
<!--<td class="seat4"></td>-->
<!--<td class="seat5"></td>-->
<!--<td class="seat6"></td>-->
<!--<td class="seat7"></td>-->
<!--</tr>-->
<!--<tr class='row3'>-->
<!--<td class="seat1"></td>-->
<!--<td class="seat2"></td>-->
<!--<td class="empty"></td>-->
<!--<td class="seat3"></td>-->
<!--<td class="seat4"></td>-->
<!--<td class="seat5"></td>-->
<!--<td class="seat6"></td>-->
<!--<td class="seat7"></td>-->
<!--</tr>-->
<!--<tr class='row4'>-->
<!--<td class="seat1"></td>-->
<!--<td class="seat2"></td>-->
<!--<td class="empty"></td>-->
<!--<td class="seat3"></td>-->
<!--<td class="seat4"></td>-->
<!--<td class="seat5"></td>-->
<!--<td class="seat6"></td>-->
<!--<td class="seat7"></td>-->
<!--</tr>