<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/style.css">
    <title>index</title>
</head>
<body>
<section>
    <table class='indexPg' id="table">
        <h1>Space Seats</h1>
        <h3>Classroom Seat Picker</h3>
        <a  href="/logout">Logout</a>
        <tbody>
        {{#seats}}

        <tr class="row1" id="{{_id}}">
            {{#row1}}
            <td class="seat" id="{{seatId}}">
                <form action="/home/{{_id}}/{{seatId}}" method="post"><button type="submit"></form>
                {{occupant}} {{#occupant}}
                <p><a href="/home/{{_id}}/{{seatId}}/delete">delete</a></p>
                {{/occupant}}</td></button>

            {{/row1}}
        </tr>

        <tr class="row2">
            {{#row2}}
            <td class="seat" id="{{seatId}}">
                <form action="/home/{{_id}}/{{seatId}}" method="post"><button type="submit"></form>
                {{occupant}} {{#occupant}}
                <p><a href="/home/{{_id}}/{{seatId}}/delete">delete</a></p>
                {{/occupant}}</td></button>
            {{/row2}}
        </tr>
        <tr class="row3">
            {{#row3}}
            <td class="seat" id="{{seatId}}">
                <form action="/home/{{_id}}/{{seatId}}" method="post"><button type="submit"></form>
                {{occupant}} {{#occupant}}
                <p><a href="/home/{{_id}}/{{seatId}}/delete">delete</a></p>
                {{/occupant}}</td></button>
            {{/row3}}
        </tr>
        <tr class="row4">
            {{#row4}}
            <td class="seat" id="{{seatId}}">
                <form action="/home/{{_id}}/{{seatId}}" method="post"><button type="submit"></form>
                {{occupant}} {{#occupant}}
                <p><a href="/home/{{_id}}/{{seatId}}/delete">delete</a></p>
                {{/occupant}}</td></button>
            {{/row4}}
        </tr>




       {{/seats}}

        </tbody>
    </table>
</section>
<script src="/public/addRows.js"></script>
</body>
</html>
