<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/public/style.css">
  <title>Document</title>
</head>
<body>
<header></header>
  <h3>Already have an account?</h3>
  <a href="/"><button class="homenav">Login</button></a>
</header>
  <form id='form' action="/register" method="POST">
    <label for="email">Email</label>
    <input id="email" type="email" name="email" value="">

    <label for="password">Password</label>
    <input id="password" type="password" name="password">

    <label for="imgUrl">Your Picture</label>
    <input id="imgUrl" type="text" name="imgUrl">

    <input type="submit" value="Register">
  </form>
</body>
</html>
