<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form id='form' action="/register" method="POST">
    <label for="email">Email</label>
    <input id="email" type="email" name="email" value="">

    <label for="password">Password</label>
    <input id="password" type="password" name="password">

    <label for="imgUrl">Password</label>
    <input id="imgUrl" type="text" name="imgUrl">

    <input type="submit" value="Register">
  </form>
</body>
</html>
